# System Configuration
TZ=Europe/Madrid

# Images
RAMPER_IMAGE=ghcr.io/alpargatagazer/ramper-web:latest
CADDY_IMAGE=caddy:2-alpine
UPTIME_KUMA_IMAGE=louislam/uptime-kuma:2-slim
DOZZLE_IMAGE=amir20/dozzle:latest
POSTGRES_IMAGE=postgres:18-alpine
LISTMONK_IMAGE=listmonk/listmonk:v6.1.0
LISTMONK_LIST_ID=1

# Ports (Internal to Caddy but exposed to host)
WEB_PORT=8123
KUMA_PORT=8124
DOZZLE_PORT=8125

# Paths
VOLUMES_PATH=./volumes
