# System Configuration
TZ=Europe/Madrid

# Images
RAMPER_IMAGE=ghcr.io/alpargatagazer/ramper-web:latest
CADDY_IMAGE=caddy:2-alpine
UPTIME_KUMA_IMAGE=louislam/uptime-kuma:2-slim

# Ports (Internal to Caddy but exposed to host)
WEB_PORT=8123
KUMA_PORT=8124

# Paths
VOLUMES_PATH=./volumes
