# System Configuration
TZ=Europe/Madrid

# App Image (auto-deployed by Watchtower)
RAMPER_IMAGE=ghcr.io/alpargatagazer/ramper-web:latest

# Ports (Internal to Caddy but exposed to host)
WEB_PORT=8123
KUMA_PORT=8124
DOZZLE_PORT=8125

# Paths
VOLUMES_PATH=./volumes
